/* Hero.module.css */

.videoContainer {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  z-index: -100;
}

.backgroundVideo {
  width: 100%;
  height: 100%;
  object-fit: cover;
  filter: brightness(50%) blur(2px);
  z-index: -100;
}

.videoOverlay {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: rgba(0, 0, 0, 0.4);
  z-index: -100;
}

.heroSection {
  position: relative;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  height: 100vh;
}

.header {
  font-size: 2.5rem;
  font-weight: 700;
  margin-bottom: 1rem;
  color: var(--secondary-color);
  -webkit-text-stroke: 0.2px black;
}

.description {
  font-size: 1.5rem;
  font-weight: 400;
  color: var(--secondary-color);
  -webkit-text-stroke: 0.1px black;
}

.button {
  display: inline-block;
  padding: 1rem 2rem;
  margin-top: 1rem;
  font-size: 1.2rem;
  font-weight: 700;
  color: var(--secondary-color);
  background: var(--primary-color);
  border: none;
  border-radius: 5px;
  cursor: pointer;
  transition: background 0.3s;
}
